.clock {
    font-family: sans-serif;
    text-align: center;
}

.cclock-body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.clock-app {
    text-align: center;
    color: white;
    height: 100vh;
    width: 100vw;
}

.clock-timeparent {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(186, 159, 231); */
}

.clock-time {
    color: white;
    font-size: 70px;
    position: relative;
    display: block;
    margin-top: 45px;
    color: #d4c5ee;
}


.clock-timecontainer {
    text-align: center;
    height: 175px;
    width: 400px;
    border: 10px solid rgb(186, 159, 231); 
    
    border-radius: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #d4c5ee;
}
 

@media only screen and (max-width: 600px) {
    .clock-timecontainer {
        margin-left: 10px;
        margin-right: 10px;
    }
}